html {
  scroll-padding-top: 72px;
}

.main-page::before {
  display: block;
  content: '';
  height: 60px;
}

.project-icon {
  max-height: 200px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}